/lib
/dist
/docs
/workdocs/drawings/*
!/workdocs/drawings/*.drawio
/workdocs/resources/*
/workdocs/reports/**/*
!/workdocs/reports/data
/workdocs/reports/data/*
!/workdocs/reports/data/.gitkeep
!/workdocs/reports/images
/workdocs/reports/images/*
!/workdocs/reports/images/.gitkeep
!/workdocs/reports/jest.coverage.config.ts
/workdocs/uml/*
!/workdocs/uml/*.puml
/.token
/.npmtoken
/.dockertoken
/.confluence-token
/node_modules
!.gitkeep